name: ci-golang-lint
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - master
  schedule:
    - cron: "0 0 * * *" # run workflow daily
jobs:
  golang-lint:
    if: github.event.pull_request.draft == false
    name: lint
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: golang-lint
        env:
          # prevent OOM
          GOGC: 10
        uses: golangci/golangci-lint-action@v6
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: latest
          only-new-issues: true
          args: --timeout=10m
